# <==========> <==========> <==========>
# <===== .ENV.EXAMPLE FILE ➡️ .ENV FILE STRUCTURE =====>
# <==========> <==========> <==========>

# <===== SERVER WITH COMMUNICATION =====>
PORT=your_port
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=your_db_host
DB_PORT=your_db_port
JWT_SECRET=your_jwt_secret

# <===== MODEL STRUCTURE ORDER =====>
# <===== IN NORMAL CONDITION ===== IN TEST CONDITION =====>
1-Admin                        =   1-Admin
2-Booking                      =   2-Delivery_Method
3-Cart_Item                    =   3-Region
4-Cart                         =   4-District
5-Customer_Address             =   5-Event_Type
6-Customer_Card                =   6-Human_Category
7-Customer                     =   7-Lang
8-Delivery_Method              =   8-Payment_Method
9-District                     =   9-Seat_Type
10-Event_Type                  =   10-Ticket_Status
11-Event                       =   11-Types
12-Human_Category              =   12-Customer
13-Lang                        =   13-Customer_Address
14-Payment_Method              =   14-Customer_Card
15-Region                      =   15-Cart
16-Seat_Type                   =   16-Booking
17-Seat                        =   17-Venue
18-Ticket_Status               =   18-Venue_Photo
19-Ticket                      =   19-Venue_Types
20-Types                       =   20-Seat
21-Venue_Photo                 =   21-Event
22-Venue_Types                 =   22-Ticket
23-Venue                       =   23-Cart_Item